@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
  }
}

@import "@coreui/icons/css/free.min.css";
@import "@coreui/icons/css/brand.min.css";

input:checked + svg {
  display: block;
}

iframe[hidden] {
  display: none;
}

main {
  background-color: #1c4c4c;
}

.text-current {
  color: #D1D5DB;
}

.card {
  background-color: rgba(55, 65, 81, 1);
  border-color: #295c5c;
}
