@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    --tw-text-opacity: 1;
    color: rgba(16, 185, 129, var(--tw-text-opacity));
  }
}

@import "@coreui/icons/css/free.min.css";
@import "@coreui/icons/css/brand.min.css";

input:checked + svg {
  display: block;
}

iframe[hidden] {
  display: none;
}
